// Place all the styles related to the features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '_mixins.scss';
@import '_fonts.scss';

html{
	min-height: 100%;
	font-family: 'karla', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer !important;
}

body{
	margin: 0;
	height: 100%;
	min-width: 320px;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-webkit-overflow-scrolling: touch;
}



.lists{
	list-style-type: none;
	text-align: center;
	li{
		display: inline;
		a{
		color: black;
		text-decoration: underline;
		.list-list-wrapper{
			width: 30%;
			position: relative;
			border: 4px solid black;
			.list-list-image-wrapper{
				width: 100%;
				height: 100%;
				overflow: hidden;
				img{
					max-width: 100%;
					height: auto;
				}
			}
		}
	}

	}
}

.ng-scope{
	height: 100%;
}

.full-width{
	width: 100%;
	max-width: 100%;
	display: block;
	overflow-x:hidden;
	img{
		max-width: 100%;
	}
}

.list-wrapper{
	position: relative;
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	height: 8888px;
	padding-top: 58px;
	@include vendorize(transition, opacity 0.3s);
	.rbma-radio-picks{
		font-size: 2em;
		border-bottom: 5px solid black;
		width: 100%;
		margin-left: 10%;
		&:after{
			content: 'RBMA Radio Picks';
		}
	}
	.author{
		font-size: 4em;
		margin: 0;
		margin-left: 10%;
	}

	.list-thumbs{
		list-style-type: none;
		padding: none;
		padding-right: 100px;
		margin-left: 15%;
		text-align: center;
		z-index: 1;
		margin-top: 68px;
		li{
			display: inline-block;
			text-align: center;
			margin-bottom: -100px;
			.thumb-container{
				position: relative;
				margin-top: -8px;
				text-align: center;
				width: 150px;
				height: 225px;
				z-index: 1;

				.img-container{
					border: 5px solid black;
					overflow: hidden;
					width: 150px;
					height: 150px;
					text-align: center;
					background-color: white;
					@include vendorize(transform, rotate(-45deg));
					@include vendorize(transition, all .2s cubic-bezier(.17,.67,.83,.67));
					z-index: 5;
					span{
						z-index: 9999999999999;
						position: absolute;
						text-align: center;
						background-color: white;
						@include vendorize(border-radius, 50%);
						top: 10px;
						right: 10px;
						font-size: 0.5em;
						font-weight: bold;
						border: 2px solid black;
						width: 15px;
						height: 15px;
						line-height: 15px;
					}
					img{
						height: 100%;
						width: auto;
					}
					&:hover{
						@include vendorize(transform, rotate(0));
						@include vendorize(transform, scale(2));
					}
				}
				&:hover{
					z-index: 999;
				}
			}
		}
	}

	.intro{
		width: 66.6666666666%;
		margin-left: 33.33333333333%;
		font-size: 1.7em;
		line-height: 1.5;
	}

	.list-items{
		width: 66.6666666666%;
		margin-left: 20%;
		font-size: 1.7em;
		line-height: 1.5;
		list-style-type: none;
		padding: 0;
		.list-item{
			padding: 0;
			.list-container{
				position: relative;
				height: auto;
				width: 100%;
				.list-titles{
					border-bottom: 5px solid black;
					margin: 0;
					.item-order{
						font-size: 0.7em;
						display: inline-block;
						text-align: center;
						width: 20px;
						line-height: 20px;
						height: 20px;
						border: 2px solid black;
						@include vendorize(border-radius, 50%);
					}
					.item-title{
						font-size: 1em;
						display: inline-block;
						line-height: 20px;
						margin-left: 50px;
					}
				}
				.item-body{
					.item-image-wrapper{
						width: 400px;
						margin-top: 20px;
						height: 400px;
						overflow: hidden;
						border: 4px solid black;
						text-align: center;
					}
					img{
						height: 100%;
						width: auto;
					}
					p{
						text-align: left;
						.video{
							position: relative;
							padding-bottom: 56.25%;
							padding-top: 30px;
							height: 0;
							overflow: hidden;
							margin-bottom: 50px;
							iframe, object, embed{
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
		}
	}
}


.sidebar{
		position: absolute;
		top: 225px;
		left: 10px;
		width: 17.3333333333%;
		h4{
			margin: 0;
		}
		img{
			max-width: 50%;
			height: auto;
			margin-left: 20px;
		}
		.radio-picks-sidebar{
			margin-left: 20px;
			&:after{
				content: 'RBMA Radio Picks'
			}
		}
		.author-sidebar{
			margin-left: 20px;
		}
		.sidebar-list{
			list-style-type: none;
			padding: 0;
			margin-left: 20px;
			a{
				margin: 0;
				text-decoration: none;
				.sidebar-item{
					padding: 5px;
					margin: 0;
					background-color: transparent;
					color: black !important;
					.order{
						width: 15px;
						display: inline-block;
						margin-right: 5px;
						text-align: center;
						line-height: 15px;
						height: 15px;
						border: 2px solid black;
						@include vendorize(border-radius, 50%);
					}
					&:hover{
						background-color: black;
						color: white !important;
						.order{
							border: 2px solid white !important; 
						}
					}
					&.active{
						background-color: black;
						color: white !important;
						.order{
							border: 2px solid white !important;
						}
					}
				}
				&.active{
					color: blue;
				}
			}
		}
		&.sticky{
			position: fixed;
			top: 20px;
		}
	}

@media screen and (max-width: 600px){

	.list-wrapper{
		width: 90%;
		margin-left: 5%;
		ul.list-items{
			width: 100%;
			margin-left: 0;
			.list-item{
				.list-container{
					.item-titles{

					}
					.item-body{
						.item-image-wrapper{
							max-width: 98%;
							margin-left: 1%;
							border: none;
							img{
								height: contain;
							}
						}
						p{
							font-size: 0.8em;
						}

					}
				}
			}
		}
	}
	.sidebar{
		display: none;
	}

	.list-thumbs{
		display: none;
	}

	.intro{
		width: 100%;
		margin-left: 0;
	}

	
}

