@font-face {
  font-family: 'fugue';
  src: url(../fonts/fugue_regular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'karla';
  src: url(../fonts/karla-bold-webfont.eot);
  src: url(../fonts/karla-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/karla-bold-webfont.woff) format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'karla';
  src: url(../fonts/karla-regular-webfont.eot);
  src: url(../fonts/karla-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/karla-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }
html {
  min-height: 100%;
  font-family: 'karla', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px; }

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer !important; }

body {
  margin: 0;
  height: 100%;
  min-width: 320px;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch; }

.lists {
  list-style-type: none;
  text-align: center; }
  .lists li {
    display: inline; }
    .lists li a {
      color: black;
      text-decoration: underline; }
      .lists li a .list-list-wrapper {
        width: 30%;
        position: relative;
        border: 4px solid black; }
        .lists li a .list-list-wrapper .list-list-image-wrapper {
          width: 100%;
          height: 100%;
          overflow: hidden; }
          .lists li a .list-list-wrapper .list-list-image-wrapper img {
            max-width: 100%;
            height: auto; }

.ng-scope {
  height: 100%; }

.list-wrapper {
  position: relative;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding-top: 58px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .list-wrapper .rbma-radio-picks {
    font-size: 2em;
    border-bottom: 5px solid black;
    width: 100%;
    margin-left: 10%; }
    .list-wrapper .rbma-radio-picks:after {
      content: 'RBMA Radio Picks'; }
  .list-wrapper .author {
    font-size: 4em;
    margin: 0;
    margin-left: 10%; }
  .list-wrapper .list-thumbs {
    list-style-type: none;
    padding: none;
    padding-right: 100px;
    margin-left: 15%;
    text-align: center;
    z-index: 1;
    margin-top: 68px; }
    .list-wrapper .list-thumbs li {
      display: inline-block;
      text-align: center;
      margin-bottom: -100px; }
      .list-wrapper .list-thumbs li .thumb-container {
        position: relative;
        margin-top: -8px;
        text-align: center;
        width: 150px;
        height: 225px;
        z-index: 1; }
        .list-wrapper .list-thumbs li .thumb-container .img-container {
          border: 5px solid black;
          overflow: hidden;
          width: 150px;
          height: 150px;
          text-align: center;
          background-color: white;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
          -moz-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
          -ms-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
          -o-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
          transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
          z-index: 5; }
          .list-wrapper .list-thumbs li .thumb-container .img-container span {
            z-index: 9999999999999;
            position: absolute;
            text-align: center;
            background-color: white;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            top: 10px;
            right: 10px;
            font-size: 0.5em;
            font-weight: bold;
            border: 2px solid black;
            width: 15px;
            height: 15px;
            line-height: 15px; }
          .list-wrapper .list-thumbs li .thumb-container .img-container img {
            height: 100%;
            width: auto; }
          .list-wrapper .list-thumbs li .thumb-container .img-container:hover {
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0);
            -webkit-transform: scale(2);
            -moz-transform: scale(2);
            -ms-transform: scale(2);
            -o-transform: scale(2);
            transform: scale(2); }
        .list-wrapper .list-thumbs li .thumb-container:hover {
          z-index: 999; }
  .list-wrapper .intro {
    width: 66.6666666666%;
    margin-left: 33.33333333333%;
    font-size: 1.7em;
    line-height: 1.5; }
  .list-wrapper .list-items {
    width: 66.6666666666%;
    margin-left: 20%;
    font-size: 1.7em;
    line-height: 1.5;
    list-style-type: none;
    padding: 0; }
    .list-wrapper .list-items .list-item {
      padding: 0; }
      .list-wrapper .list-items .list-item .list-container {
        position: relative;
        height: auto;
        width: 100%; }
        .list-wrapper .list-items .list-item .list-container .list-titles {
          border-bottom: 5px solid black;
          margin: 0; }
          .list-wrapper .list-items .list-item .list-container .list-titles .item-order {
            font-size: 0.7em;
            display: inline-block;
            text-align: center;
            width: 20px;
            line-height: 20px;
            height: 20px;
            border: 2px solid black;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%; }
          .list-wrapper .list-items .list-item .list-container .list-titles .item-title {
            font-size: 1em;
            display: inline-block;
            line-height: 20px;
            margin-left: 50px; }
        .list-wrapper .list-items .list-item .list-container .item-body .item-image-wrapper {
          width: 400px;
          margin-top: 20px;
          height: 400px;
          overflow: hidden;
          border: 4px solid black;
          text-align: center; }
        .list-wrapper .list-items .list-item .list-container .item-body img {
          height: 100%;
          width: auto; }
        .list-wrapper .list-items .list-item .list-container .item-body p {
          text-align: left; }
          .list-wrapper .list-items .list-item .list-container .item-body p .video {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
            margin-bottom: 50px; }
            .list-wrapper .list-items .list-item .list-container .item-body p .video iframe, .list-wrapper .list-items .list-item .list-container .item-body p .video object, .list-wrapper .list-items .list-item .list-container .item-body p .video embed {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%; }

.sidebar {
  position: absolute;
  top: 225px;
  left: 10px;
  width: 17.3333333333%; }
  .sidebar h4 {
    margin: 0; }
  .sidebar img {
    max-width: 50%;
    height: auto;
    margin-left: 20px; }
  .sidebar .radio-picks-sidebar {
    margin-left: 20px; }
    .sidebar .radio-picks-sidebar:after {
      content: "RBMA Radio Picks"; }
  .sidebar .author-sidebar {
    margin-left: 20px; }
  .sidebar .sidebar-list {
    list-style-type: none;
    padding: 0;
    margin-left: 20px; }
    .sidebar .sidebar-list a {
      margin: 0;
      text-decoration: none; }
      .sidebar .sidebar-list a .sidebar-item {
        padding: 5px;
        margin: 0;
        background-color: transparent;
        color: black !important; }
        .sidebar .sidebar-list a .sidebar-item .order {
          width: 15px;
          display: inline-block;
          margin-right: 5px;
          text-align: center;
          line-height: 15px;
          height: 15px;
          border: 2px solid black;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%; }
        .sidebar .sidebar-list a .sidebar-item:hover {
          background-color: black;
          color: white !important; }
          .sidebar .sidebar-list a .sidebar-item:hover .order {
            border: 2px solid white !important; }
        .sidebar .sidebar-list a .sidebar-item.active {
          background-color: black;
          color: white !important; }
          .sidebar .sidebar-list a .sidebar-item.active .order {
            border: 2px solid white !important; }
      .sidebar .sidebar-list a.active {
        color: blue; }
  .sidebar.sticky {
    position: fixed;
    top: 20px; }

@media screen and (max-width: 600px) {
  .list-wrapper {
    width: 90%;
    margin-left: 5%; }
    .list-wrapper ul.list-items {
      width: 100%;
      margin-left: 0; }
      .list-wrapper ul.list-items .list-item .list-container .item-body .item-image-wrapper {
        max-width: 98%;
        margin-left: 1%;
        border: none; }
        .list-wrapper ul.list-items .list-item .list-container .item-body .item-image-wrapper img {
          height: contain; }
      .list-wrapper ul.list-items .list-item .list-container .item-body p {
        font-size: 0.8em; }

  .sidebar {
    display: none; }

  .list-thumbs {
    display: none; }

  .intro {
    width: 100%;
    margin-left: 0; } }
