
<div id="spinner"></div>
<div du-scroll-container="du-scroll-container" class="frame">
  <div id="top" send-height="send-height" class="list-wrapper">
    <div class="rbma-radio-picks">
      <h1 class="title">{{list.fields.parentTitle}}</h1>
    </div>
    <h1 class="author">{{list.fields.author}}</h1>
    <ul class="list-thumbs">
      <li ng-repeat="entry in list.fields.individualListItems">
        <div class="thumb-container"><a href="#{{entry.fields.anchorLinkTag}}" du-smooth-scroll="du-smooth-scroll">
            <div class="img-container"><span class="order">{{entry.fields.order}}</span><img ng-src="{{entry.fields.image.fields.file.url}}"/></div></a></div>
      </li>
    </ul><img ng-src="{{list.fields.authorImage.fields.file.url}}" class="author-hero-image"/>
    <p ng-bind-html="trust(list.fields.body)" class="intro"></p>
    <ul class="list-items">
      <li ng-repeat="item in list.fields.individualListItems" class="list-item">
        <div class="list-container">
          <div class="list-titles"><a id="{{item.fields.anchorLinkTag}}" data-order="{{item.fields.order}}" class="item-order-link"></a><span class="item-order">{{item.fields.order}}</span>
            <h3 class="item-title">{{item.fields.title}}</h3>
          </div>
          <div class="item-body">
            <div ng-show="{{item.fields.embedAsImage}}" class="item-image-wrapper"><img ng-src="{{item.fields.image.fields.file.url}}"/></div>
            <p ng-bind-html="trust(item.fields.body)"></p>
          </div>
        </div>
      </li>
    </ul>
    <div sticky="sticky" class="sidebar"><a href="#top" du-smooth-scroll="du-smooth-scroll" class="topscroll"><img ng-src="{{list.fields.authorImage.fields.file.url}}"/>
        <h4 class="radio-picks-sidebar">{{list.fields.parentTitle}}</h4>
        <h4 class="author-sidebar">{{list.fields.author}}</h4></a>
      <ul class="sidebar-list"><a ng-repeat="item in list.fields.individualListItems" href="#{{item.fields.anchorLinkTag}}" du-smooth-scroll="du-smooth-scroll" class="{{item.fields.anchorLinkTag}}">
          <li data-order="{{item.fields.order}}" class="sidebar-item">
            <div class="order">{{item.fields.order}}</div>{{item.fields.title}}
          </li></a></ul>
      <div class="button-group">
        <div class="button"><a href="https://twitter.com/share?url={{feature.fields.rbmaUrl}}&amp;via=rbma&amp;text={{list.fields.title}}" target="blank"><i class="fa fa-twitter"></i></a></div>
        <div class="button"><a href="https://www.facebook.com/sharer/sharer.php?u={{list.fields.rbma_url}}" target="blank"><i class="fa fa-facebook"></i></a></div>
      </div>
    </div>
  </div>
</div>